body{
    display: grid;
    grid-template-areas: 1fr 75vw 1fr ;
    grid-template-rows: 15vh 1fr;
    width:1vm;
    /* background-color: salmon; */
}
#main{
    
    grid-area: 2 / 1 / 3 / 2;
    width: 75vw;
    /*background-color: royalblue;*/
    display: grid;
    align-items: center;
    align-self: center;
    justify-items: center;
    justify-self: center;
}
#logo{
    justify-self: center;
    align-self: center;
    grid-area: pic;
    background-color: red;
}
#search-box{
    grid-area: bar;
    
}
#go{
    grid-area: btn1;
    width:200px !important;
}
#luck{
    grid-area: btn2;
    width:200px !important;
}

